.outer_signin_signup { padding:30px 0; }
.signup_right{width:100%;height:auto;float:left;background:#fff;padding:60px;-webkit-box-shadow:0 0 21px #d3d3d3;-moz-box-shadow:0 0 21px #d3d3d3;box-shadow:0 0 21px #d3d3d3;-ms-box-shadow:0 0 21px #d3d3d3;-o-box-shadow:0 0 21px #d3d3d3}
.signup_form_inner h5{width:100%;height:auto;float:left;color:#282828;font-size:16px;line-height:25px;font-weight:400;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;margin:20px 0 5px}
.signup_form_inner input[type="text"],.signup_form_inner input[type="password"],.signup_form_inner input[type="email"],.signup_form_inner input[type="number"]{width:100%;height:38px;float:left;border-radius:3px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.04);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.04);box-shadow:0 3px 7px rgba(0,0,0,0.04);-ms-box-shadow:0 3px 7px rgba(0,0,0,0.04);-o-box-shadow:0 3px 7px rgba(0,0,0,0.04);border:1px solid #e9e9e9;padding:0 10px;box-sizing:border-box;background:#f8fcfe;margin:0 0 10px}
.change{
    background-color:rgb(152, 153, 145)
}
.btn1{
  color: rgb(255, 255, 255);
  background-color: rgb(235, 76, 76);
}
.btn2{
  color: rgb(255, 255, 255);
  background-color: rgb(1, 100, 1);
}
.bold{
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 17px;
  /* font-weight:bold; */
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
.custom-overlay.active{display: block}
.custom-overlay{
position: fixed; 
display: none;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index:9;
background-color: #9cbbf5;
opacity: 0.5;
}
